<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @game.name %>
</h1>
<h3>
  For this draw you were <strong> <%= @game.players %></strong> players
</h3>
<p>
  <strong>Result of draw:</strong>
  <%= @game.description %>
</p>



<!-- <%= link_to 'Edit', edit_game_path(@game) %> | -->
<button><%= link_to 'Back', games_path %></button>
